<!-- menu button for when header collapses on screen size <= 640px -->
<div id="button-main">
  <span id="button-text">MENU</span>
  <div class="button-bar"></div>
  <div class="button-bar"></div>
  <div class="button-bar"></div>
</div>

<!-- Navigation -->
<nav class="navbar navbar-default" role="navigation">
    <div class="my-container">
        <!-- Brand and toggle get grouped for better mobile display -->

        <div class="navbar-header">
            <a class="navbar-brand" href="/">
              <img class="navbar-logo img-responsive" src="./static/img/unitedway-logo.png"  />
            </a>
        </div>
        <div id="nav-accordion-menu">
          <ul id="nav-accordion-expand-ul" class="hide-menu">
            {% for obj in range(0, topnav.length) %}
            <li>
              <a class="nav-ul-link" href="{{obj.page}}">{{obj.titleCaps}}</a>
            </li>
            {% endfor %}
            {% for obj in range(0, bottomnav.length-1) %}
            <li>
              {{bottomnav[obj].titleCaps}}
            </li>
            {% endfor %}
            <li id="nav-acc-blue-donate" class="no-border"> <!-- only this shows when collapsed -->
              DONATE
            </li>
            <li class="search-inmenu">
              <input type='text' placeholder='SEARCH' id='search-text-input' />
                <img src='./static/img/mglass.png' />
            </li>
          </ul>
          <div id="nav-acc-blue-donate"> <!-- only this shows when collapsed -->
            DONATE
          </div>
        </div>
        <!-- /.navbar-collapse -->
          <div id="navbar-gt-640">
            <ul class="nav-ul nav-ul-top">
              {% for obj in topnav %}
              <li>
                <a class="nav-ul-link" href="{{obj.page}}">{{obj.titleCaps}}</a>
                {% if obj.items.length > 0 %}
                <ul class="hover-menu">
                  {% for item in obj.items %}
                  <li>
                    <a class="nav-ul-link" href="#">{{item}}</a>
                  </li>
                  {% endfor %}
                </ul>
                {% endif %}
              </li>
              {% endfor %}
            </ul>
            <div class="search">
              <input type='text' placeholder='SEARCH' id='search-text-input' />
                <img src='./static/img/mglass.png' />
            </div>


            <ul class="nav-ul nav-ul-bottom">
              {% for obj in bottomnav %}
              <li>
                <a class="nav-ul-link" href="#">{{obj.titleCaps}}</a>
                {% if obj.items.length > 0 %}
                <ul class="hover-menu">
                  {% for item in obj.items %}
                  <li>
                    <a class="nav-ul-link" href="#">{{item}}</a>
                  </li>
                  {% endfor %}
                </ul>
                {% endif %}
              </li>
              {% endfor %}
            </ul>
          </div>
        <!-- / nav-ul-container -->
    </div>
    <!-- /.container -->
</nav>
