<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="../static/img/favicon.ico" type="image/x-icon" />

    <title>COPY - About Us | United Way of Greater Houston</title>

    <!-- Custom CSS -->
    <link href="/static/css/main.css" rel="stylesheet">

    <!-- Slippry CSS -->
    <link href="/static/css/slippry.css" rel="stylesheet">

</head>

<body>

  <div class="page">

  {% include "includes/nav.html" %}

  <!-- Page Content -->
    <main class="content-container">

        <div class="row div-slider">

          <ul id="slider">
            <li>
              <a href="#">
    			      <img class="img-responsive" src="../static/img/about1.jpg" />
              </a>
            </li>
          </ul>

        </div>
        <!-- end row div-slider -->

        <div id="large-blurb-and-image-div">
          <article id="large-text-blurb">
            We transform individual lives and bring long-lasting, systemic change
             to tough issues, like family financial stability and academic success.
          </article>
          <div id="do-something-image">
            <a href="#"><img class="img-responsive" src="../static/img/icon-do-something.png" /></a>
          </div>
          <div id="horiz-rule-w-donate" class="full-width-top-border">
            <a class="float-left" href="#">ABOUT</a>
            <a class="float-right" href="#">DONATE</a>
          </div>
          <article id="about-text">
            <h1 class="h1-36">ABOUT</h1>
            <p>
              At the heart of our work is ensuring the safety net by providing life-saving services to meet our neighbors’ most basic needs, like food and shelter.
            </p>
            <p>
              We are here to support families and individuals when they are going through crises, like job loss, domestic violence and natural disasters.
            </p>
            <p>
              And, we create a pathway to self-sufficiency and success for our neighbors and our community. We provide the tools, resources and education for families to achieve financial stability and independence, for children to succeed in school and in life and for veterans to rebuild their lives after returning from service.
            </p>
            <p>
              Every day of the year, 24-hours a day, we are the voice of help and hope for those who call our 2-1-1 Texas/United Way HELPLINE.
            </p>
            <p>
              And, we bring stakeholders and our community together to address the most pressing needs in our area, improving the quality of life for everyone in our region. We do it all strategically, transparently and with a focus on results.
            </p>
          </article>
          <div class="help-share">
            <div id="help-us" class="float-left">
              Want to help us do something about it?
            </div>
            <div id="help-blue-parent">
              <div id="help-blue-box">
                DONATE
              </div>
            </div>
            <div id="share-page">
              <img src="../static/img/icon-share.png" /><span> SHARE THIS PAGE</span>
            </div>
          </div>
        </div>





    </main>

    <!-- /main .container -->

  {% include "includes/footer.html" %}

  </div>

</body>

</html>
