<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="../static/img/favicon.ico" type="image/x-icon" />

    <title>COPY - Job Bank | United Way of Greater Houston</title>

    <!-- Custom CSS -->
    <link href="/static/css/main.css" rel="stylesheet">

    <!-- Slippry CSS -->
    <link href="/static/css/slippry.css" rel="stylesheet">

</head>

<body>

  <div class="page">

  {% include "includes/nav.html" %}

  <!-- Page Content -->
    <main class="content-container">


        <h1 class="h1-36-job-bank">JOB BANK</h1>
        <div id="large-blurb-and-image-div">
          <article id="large-text-blurb">
            The best prospects for nonprofit positions begin their search with United Way of Greater Houston’s Community Job Bank.
          </article>
          <div id="do-something-image">
            <a href="#"><img class="img-responsive" src="../static/img/icon-do-something.png" /></a>
          </div>
          <div id="horiz-rule-w-donate" class="full-width-top-border">
            <a class="float-right" href="#">DONATE</a>
          </div>
          <div id="view-2col-job-bank-div">
            <table>
              <tr>
                <td id="view-2col-left">
                  To view <span>United Way of Greater Houston</span> opportunities only, click <a href="#">here</a>
                </td>
                <td id="view-2col-right">
                  To view or post <span>all other jobs</span>, visit the <a href="#">Community Job Bank</a>
                </td>
              </tr>
            </table>
            <p>
              <span>Job seekers:</span> You are welcome to use our job bank to search for employment with other local nonprofit agencies. You do NOT need to register to view or apply to jobs. Learn about how <a href="#">United Way THRIVE</a>’s employment services help hardworking families succeed.
            </p>
            <p>
              <span>Nonprofits:</span> Please note that all job postings will be deleted automatically after 90 days or when the end date of the posting is reached. If you would like to extend a job posting, please edit the end date.
            </p>
            <p>
              *It has been verified that posting organizations are 501(c)3 nonprofit organizations with positions available at the time of posting. Each posting organization is fully responsible for candidate recruitment and selection and for removal of the posting information when positions have been filled.
            </p>
            <h1 class="h1-36-red">PLEASE NOTE THAT IT CAN TAKE UP TO 48 HOURS BEFORE YOUR ACCOUNT IS APPROVED. ONCE APPROVED, YOU WILL RECEIVE AN EMAIL STATING THAT YOU CAN NOW POST YOUR POSITION.  DUE TO STAFF VACATIONS DURING THE WEEK OF JULY 3RD, IT MIGHT TAKE LONGER FOR YOUR ACCOUNT TO BE APPROVED. YOU WILL BE NOTIFIED BY EMAIL ONCE YOUR ACCOUNT IS ACTIVE.</h1>
          </div>
          <div class="help-share">
            <div id="help-us" class="float-left">
            </div>
            <div id="help-blue-parent">
              <div id="help-blue-box">
                VIEW OR POST JOB
              </div>
            </div>
          </div>
        </div>





    </main>

    <!-- /main .container -->

  {% include "includes/footer.html" %}

  </div>

</body>

</html>
