<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="../static/img/favicon.ico" type="image/x-icon" />

    <title>COPY - News | United Way of Greater Houston</title>

    <!-- Custom CSS -->
    <link href="/static/css/main.css" rel="stylesheet">

    <!-- Slippry CSS -->
    <link href="/static/css/slippry.css" rel="stylesheet">

</head>

<body>

  <div class="page">

  {% include "includes/nav.html" %}

  <!-- Page Content -->
    <main class="content-container">

        <div class="row div-slider">

          <ul id="slider">
            <li>
              <a href="#">
    			      <img class="img-responsive" src="../static/img/news1.jpg" />
              </a>
            </li>
          </ul>

        </div>
        <!-- end row div-slider -->

        <div id="large-blurb-and-image-div">
          <article id="large-text-blurb">
            See United Way in the news, browse our press releases and download our Annual Report, Community Assessment and more. For media inquiries, contact <span style="color: #000099;">Lynne Cook</span> at 713-685-2829.
          </article>
          <div id="do-something-image">
            <a href="#"><img class="img-responsive" src="../static/img/icon-do-something.png" /></a>
          </div>
          <div id="horiz-rule-w-donate" class="full-width-top-border">
            <a class="float-right" href="#">DONATE</a>
          </div>
          <!-- <article id="about-text"> -->
            <h1 class="h1-36">NEWS</h1>
        </div>

        <div id="body-image-links-row">
          <div class="body-image-link-item no-bottom-border">
            <a href="#">MEDIA CLIPS
              <svg fill="#000000" height="24" viewBox="0 0 24 24" width="24" xmlns="http://www.w3.org/2000/svg">
                <path d="M8.59 16.34l4.58-4.59-4.58-4.59L10 5.75l6 6-6 6z"/>
                <path d="M0-.25h24v24H0z" fill="none"/>
              </svg>
            </a>
            <img class="img-responsive" src="../static/img/NEWS1A.jpg" />
          </div>
          <div class="body-image-link-item no-bottom-border">
            <a href="#">PRESS RELEASES
              <svg fill="#000000" height="24" viewBox="0 0 24 24" width="24" xmlns="http://www.w3.org/2000/svg">
                <path d="M8.59 16.34l4.58-4.59-4.58-4.59L10 5.75l6 6-6 6z"/>
                <path d="M0-.25h24v24H0z" fill="none"/>
              </svg>
            </a>
            <img class="img-responsive" src="../static/img/NEWS1B.jpg" />
          </div>
          <div class="body-image-link-item no-bottom-border">
            <a href="#">PUBLICATIONS
              <svg fill="#000000" height="24" viewBox="0 0 24 24" width="24" xmlns="http://www.w3.org/2000/svg">
                <path d="M8.59 16.34l4.58-4.59-4.58-4.59L10 5.75l6 6-6 6z"/>
                <path d="M0-.25h24v24H0z" fill="none"/>
              </svg>
            </a>
            <img class="img-responsive" src="../static/img/NEWS1C.jpg" />
          </div>
        </div>

    </main>

    <!-- /main .container -->

  {% include "includes/footer.html" %}

  </div>

</body>

</html>
