<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="../static/img/favicon.ico" type="image/x-icon" />

    <title>COPY - Nonprofit Connection | United Way of Greater Houston</title>

    <!-- Custom CSS -->
    <link href="/static/css/main.css" rel="stylesheet">

    <!-- Slippry CSS -->
    <link href="/static/css/slippry.css" rel="stylesheet">

</head>

<body>

  <div class="page">

  {% include "includes/nav.html" %}

  <!-- Page Content -->
    <main class="content-container">

        <div class="row div-slider">

          <ul id="slider">
            <li>
              <a href="#">
    			      <img class="img-responsive" src="../static/img/npc1.jpg" />
              </a>
            </li>
          </ul>

        </div>
        <!-- end row div-slider -->

        <div id="large-blurb-and-image-div">
          <article id="large-text-blurb">
            United Way Nonprofit Connection provides the knowledge and skills that nonprofits need to achieve their mission and exceed their potential.
          </article>
          <div id="do-something-image">
            <a href="#"><img class="img-responsive" src="../static/img/icon-do-something.png" /></a>
          </div>
          <div id="horiz-rule-w-donate" class="full-width-top-border">
            <a class="float-left" href="#">NONPROFIT CONNECTION</a>
            <a class="float-right" href="#">DONATE</a>
          </div>
          <article id="about-text">
            <h1 class="h1-36">NONPROFIT CONNECTION</h1>
            <p class="p-npc">
              Coming Soon—Summer Library Hours
            </p>
            <p class="p-npc">
              This Summer, from June 14th  – August 9th the Nonprofit Resource Library will be staffed on Wednesdays, 11 am – 2 pm.  This is an opportunity for those not familiar with the library or new to online grant research to receive an in-person orientation.  Other days and hours are still available by appointment for experienced users.
            </p>
            <h2 class="h3-21">For more information about Nonprofit Connection:</h2>
            <ul class="ul-21">
              <li>
                develop talented leaders
              </li>
              <li>
                create dynamic and engaged boards
              </li>
              <li>
                recruit and retain capable staff and volunteers
              </li>
              <li>
                manage and operate effectively
              </li>
            </ul>
            <p>
              Sign up to receive the latest nonprofit news and alerts about upcoming events. Email us at <a href="mailto:someone@example.com">nonprofitconnection@unitedwayhouston.org</a>.
            </p>
            <p>
              <a href="#">Publications and Resources</a><br/>
              <a href="#">Nonprofit Resource Library</a>
            </p>

          </article>
          <div class="help-share">
            <div id="help-us" class="float-left">
              Help us build a strong nonprofit sector.
            </div>
            <div id="help-blue-parent">
              <div id="help-blue-box">
                DONATE
              </div>
            </div>
            <div id="share-page">
              <img src="../static/img/icon-share.png" /><span> SHARE THIS PAGE</span>
            </div>
          </div>
        </div>





    </main>

    <!-- /main .container -->

  {% include "includes/footer.html" %}

  </div>

</body>

</html>
