<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="../static/img/favicon.ico" type="image/x-icon" />

    <title>COPY - Our 211 Helpline | United Way of Greater Houston</title>

    <!-- Custom CSS -->
    <link href="/static/css/main.css" rel="stylesheet">

    <!-- Slippry CSS -->
    <link href="/static/css/slippry.css" rel="stylesheet">

</head>

<body>

  <div class="page">

  {% include "includes/nav.html" %}

  <!-- Page Content -->
    <main class="content-container">

        <div class="row div-slider">

          <ul id="slider">
            <li>
              <a href="#">
    			      <img class="img-responsive" src="../static/img/hero4.jpg" />
              </a>
            </li>
          </ul>

        </div>
        <!-- end row div-slider -->

        <div id="large-blurb-and-image-div">
          <article id="large-text-blurb">
            Need help? Dial 2-1-1. A free helpline operated by United Way of Greater Houston - 24 hours a day, 7 days a week in many languages.
          </article>
          <div id="do-something-image">
            <a href="#"><img class="img-responsive" src="../static/img/icon-do-something.png" /></a>
          </div>
          <div id="horiz-rule-w-donate" class="full-width-top-border">
            <a class="float-right" href="#">DONATE</a>
          </div>
          <article id="about-text">
            <h1 class="h1-36">OUR 211 HELPLINE</h1>
            <p>
              Whether you need help finding child care, food stamps, care for an aging parent or a haven from domestic violence, 2-1-1 is the number to call when you don't know who to call. Our trained HELPLINE specialists are good listeners, blending understanding and expertise to provide information and referrals drawn from a comprehensive database of social services. The 2-1-1 Texas/United Way HELPLINE answered a record 972,600 calls for help in 2016. Basic needs, like food, utilities and health care, topped the list of requests last year, followed by rent assistance and help finding shelter.
            </p>
            <a href="#">Download our Veterans Resource Directory</a>
          </article>
          <div class="help-share">
            <div id="help-us" class="float-left">
              Make sure someone is there to answer every call for help.
            </div>
            <div id="help-blue-parent">
              <div id="help-blue-box">
                EMAIL THE HELPLINE
              </div>
              <div id="help-blue-box">
                SEARCH ONLINE
              </div>
              <div id="help-blue-box">
                DIAL 2-1-1
              </div>
            </div>
            <div id="share-page">
              <img src="../static/img/icon-share.png" /><span> SHARE THIS PAGE</span>
            </div>
          </div>
        </div>





    </main>

    <!-- /main .container -->

  {% include "includes/footer.html" %}

  </div>

</body>

</html>
